@using Book_Movie_Ticket.MovieVM
@model PromotionVM

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Create new Promotion</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post">
                <div class="mb-3">
                    <label for="Code" class="form-label">Code</label>
                    <input class="form-control" asp-for="Promotion.Code">
                    <span class="text-danger" asp-validation-for="Promotion.Code"></span>
                </div>
                <div class="mb-3">
                    <label for="Discount" class="form-label">Discount</label>
                    <input type="number" class="form-control" asp-for="Promotion.Discount">
                    <span class="text-danger" asp-validation-for="Promotion.Discount"></span>
                </div>
                <div class="mb-3">
                    <label for="Validto" class="form-label">ValidTo</label>
                    <input type="datetime" class="form-control" asp-for="Promotion.Validto">
                    <span class="text-danger" asp-validation-for="Promotion.Validto"></span>
                </div>
                <div class="mb-3">
                    <label for="Movieid" class="form-label">Movie</label>
                    <select name="Promotion.Movieid" class="form-select">
                        @foreach (var item in Model.Movies)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span class="text-danger" asp-validation-for="Promotion.Movieid"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
