
<div>
    <h2>Create Category</h2>
   <form  method="post">
        <input type="hidden" name="Id" /> 
        <label for="Name">Category Name</label>
        <input type="text" name="Name" placeholder="Enter Category Name" class="form-control" />
        <br />
        <input type="submit" value="submit" class="btn btn-sm btn-success" />

   </form>
</div>

@section Scripts {

    @if (@TempData["sucess-Notification"] is not null)
    {
        <script>
            toastr.success['@TempData["sucess-Notification"]'];
        </script>
    }
    else if (@TempData["error-Notification"] is not null)
    {
        <script>
            toastr.error['@TempData["error-Notification"]'];
        </script>
    }
}